:root {
    --primary-color: #FCCA07; /* Giallo principale */
    --secondary-color: #16300B; /* Verde scuro */
    --white-color: #F4EEE8; /* Bianco crema */
    --medium-green: #799B63; /* Verde chiaro */
    --dark-purple: #281C3B; /* Viola scuro per contorni e testo */
    --medium-purple: #6C4D9D; /* Viola medio per sfondo del menù */
    --light-purple: #CAC2D6; /* Lilla per sfondo del body */
    --yellow-color: #FCCA07; /* Giallo */
    --light-green: #A9C99C; /* Verde chiaro */
    
}

.body-yellow {
    background-color: var(--primary-color);
    font-family: Tomorrow, sans-serif;
}
