

    body {
        background-color: var(--medium-purple);
        font-family: Tomorrow, sans-serif;
    }

    h1 {
        color: var(--white-color) !important;
        -webkit-text-stroke: 13px var(--dark-purple);
        font-size: 329px !important;
        letter-spacing: 40px;
    }

    .text-white {
        color: var(--white-color);
    }

    .display-4 {
        font-size: 329px;
        margin: 50px;
        padding: 50px 100px;
    }

    .text-margin {
        margin-top: 400px;
    }

    .image {
        max-width: 2000px;
        margin-bottom: 300px;
    }

    .text-h2 {
        color: var(--white-color);
        text-align: center;
        font-family: Tomorrow , sans-serif;
        font-size: 240px;
        font-style: normal;
        font-weight: 700;
        line-height: 300px;
        letter-spacing: -2px;

    }

    .text-h3 {
        color: var(--white-color);
        text-align: center;
        font-family: Tomorrow , sans-serif;
        font-size: 205px;
        font-style: normal;
        font-weight: 700;
        line-height: 280px;
        letter-spacing: -2.55px;
        margin-top: 300px;
    }

    .row {
        margin: auto;
    }

    .burger-set {
        max-width: 4500px;
        z-index: 0;

    }

    .animation {
        animation: zoomLoop 1s infinite alternate;
    }

    @keyframes zoomLoop {
        0% {
        transform: scale(1);
        }
        100% {
        transform: scale(1.1);
        }
    }
