

body{
    background-color: var(--light-purple);
    font-family: Tomorrow, sans-serif;
}

.image {
    max-width: 1200px;
    margin-top: 1500px;
    margin-bottom: 300px;
    position: absolute;
    top: -150px; /* Parte fuori dallo schermo */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* Inizialmente invisibile */
    transition: opacity 1s, top 1.5s ease-out; /* Aggiungi transizione alla posizione e opacità */
}

@keyframes fall {
    0% {
        top: -150px; /* Parte fuori dallo schermo */
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 1500px; /* La stessa posizione indicata dalla tua classe */
        opacity: 1;
    }
}

.p {
    font-size: 165px;
    letter-spacing: -1.5px;
    margin-bottom: 400px;
    color: var(--dark-purple);
    font-weight: bold;
}

.product-price {
    height: 1018px;
    max-width: 1370px;
    margin-top: 30px;
    margin-bottom: 50px;
}


.text-h2 {
    color: var(--dark-purple);
    text-align: center;
    font-family: Tomorrow , sans-serif;
    font-size: 320px;
    font-style: normal;
    font-weight: 700;
    line-height: 350px;
    letter-spacing: -2px;
    margin-bottom: 200px;
    margin-top: 4400px;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -50%);
    color: var(--dark-purple);
    font-size: 240px;
    font-weight: bold;
    white-space: nowrap;
}

.row {
    margin: auto;
}


