  
    body {
      background-color: var(--light-purple);
      font-family: Tomorrow, sans-serif;
    }
  
    b {
      font-weight: 600;
    }
  
    p {
      font-weight: 500;
      font-size: 10rem;
    }
  
    .menu {
      background-color: var(--medium-purple);
      height: 100vh;
      border-right: 25px solid var(--dark-purple);
    }
  
    .menu .nav-link {
      font-weight: bold;
      font-size: 13.5rem;
      color: var(--dark-purple);
      background-color: var(--white-color);
      text-align: center;
      padding: 20.5rem 1rem;
      margin: 2rem 0;
      border-top: 25px solid var(--dark-purple);
      border-bottom: 25px solid var(--dark-purple);
      transform: skewY(-10deg);
      position: relative;
      transition: background-color 0.3s, transform 0.3s;
    }
  
  
    .menu .nav-link.active {
      background-color: var(--dark-purple);
      color: var(--white-color);
    }
  
    .start-button {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      background-color: var(--white-color);
      color: var(--dark-purple);
      border: 2px solid var(--dark-purple);
      padding: 0.8rem 2rem;
      font-size: 1.5rem;
      border-radius: 5px;
    }
  
  /*HEADER*/
  
  .button-frame {
    border: 27px solid var(--dark-purple) !important;
    background-color: var(--white-color);
  }
  
  .price-box-container {
    background-color: var(--yellow-color);
    border: 27px solid var(--dark-purple);
    border-top: none;
    height: 185px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .price-box {
    color: var(--dark-purple);
    text-align: center;
    font-size: 109px;
    font-weight: bold;
    font-family: 'Tomorrow', sans-serif;
    line-height: 1.2;
  }
  
    .acc {
      border: 25px solid var(--dark-purple);
      background-color: var(--white-color);
      width: 513px;
      height: 513px;
      object-fit: contain;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }
  
    .display-4 {
      font-size: 329px;
      margin: 50px;
      padding: 50px 100px;
    }
  
    /* QUADRATI BOTTONI */
    .header-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1212px; /* Mantiene la distanza tra il titolo e i quadrati */
      flex-grow: 1;
    }
  
    .py-3 {
      padding-bottom: 500px !important;
      padding-top: 300px !important;
  
    }
  
    .row > * {
      padding-left: 0px;
      padding-right: 0px;
    }
  
      h1 {
        color: var(--medium-purple) !important;
        -webkit-text-stroke: 13px var(--dark-purple) !important;
        font-size: 329px !important;
        font-family: Tomorrow, sans-serif;
        font-weight: bold;
        white-space: nowrap;
        letter-spacing: 40px;
    }
  
    h2 {
      font-size: 230px;
      font-family: Tomorrow, sans-serif;
      font-weight: bold;
      align-content: center;
    }
  
    h3 {
      font-size: 205px;
      font-weight: bold;
    }
  
    h4 {
      font-size: 165px;
      font-weight: bold;
    }
  
  
    .menu-item {
      display: flex;
      justify-content: center; /* Centra le immagini orizzontalmente */
      align-items: center; /* Allinea le immagini verticalmente */
      gap: 20px; /* Spazio tra le due immagini */
    }
  
    /* GESTIONE IMMAGINI DELLE CATEGORIE */
    .img-burger {
      max-width: 100%; /* Assicura che le immagini non escano dal contenitore */
      height: 1359px; /* Mantieni il rapporto di aspetto */
      width: 1384px; /* Imposta la larghezza per ogni immagine, così non escono dal contenitore */
    }
  
    .img-drink {
      max-width: 100%;
      height: auto;
      width: 1000px;
    }
  
    .img-snack {
      width: 1376px;
      height: 1461px;
    }
  
    .img-sweet {
      width: 1616px;
      height: 1584px;
    }
  
   /* CSS DELLE PRIME DUE CATEGORIE */
    .card {
      border: 27px solid var(--dark-purple);
      background-color: var(--white-color);
      height: 1999px;
      display: flex;
      flex-direction: column; /* Aggiunto per posizionare gli elementi in colonna */
      justify-content: flex-end; /* Allinea gli elementi in alto */
      align-items: center;
      position: relative; /* Necessario per posizionare il riquadro verde */
      margin-left: 44.5px;
      margin-right: 44.5px;
      flex: 0 0 auto;
      width: 2508px;
      margin-bottom: 54.5px;
    }
  
    /* CSS DELLE ULTIME DUE CATEGORIE */
    .card-bottom {
      border: 27px solid var(--dark-purple);
      background-color: var(--white-color);
      width: 2508px;
      height: 1999px;
      display: flex;
      flex-direction: column; /* Aggiunto per posizionare gli elementi in colonna */
      justify-content: flex-end; /* Allinea gli elementi in alto */
      align-items: center;
      position: relative; /* Necessario per posizionare il riquadro verde */
      margin-top: 54.5px;
      margin-left: 44.5px;
      margin-right: 44.5px;
      flex: 0 0 auto;
    }
  
    /* RETTANGOLI VERDI DELLE CATEGORIE */
    .top-bar {
      background-color: var(--light-green);
      color: var(--dark-purple);
      text-align: center;
      padding: 96px 103px;
      font-weight: bold;
      font-size: 205px;
      position: absolute;
      top: -25px;
      right: -25px;
      border: 25px solid var(--dark-purple);
      z-index: 2;
    }
  
    /* RETTANGOLI VIOLA DEI TITOLI */
    .category-bar {
      background-color: var(--medium-purple);
      color: var(--white-color);
      text-align: center;
      font-weight: bold;
      font-size: 240px;
      border: 27px solid var(--dark-purple);
      padding: 96px 103px;
      width: 5104px;
      height: 509px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      margin-top: 200px;
      margin-bottom: 109px;
    }
  
    .category-offers {
      background-color: var(--medium-purple);
      color: var(--white-color);
      text-align: center;
      font-weight: bold;
      font-size: 240px;
      border: 27px solid var(--dark-purple);
      padding: 96px 103px;
      width: 5104px;
      height: 509px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      margin-top: 298px;
    }
  
    /* SEZIONE FLASH CARD - OFFERTE */
    .flash-card {
      width: 5104px;
      height: 2700px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
  
    img.flash-card {
      display: block;
      margin-bottom: 500px;
    }
  
    .flash-card-wrapper {
      position: relative;
      width: 5104px;
      height: 2700px;
    }
  
    .flash-card {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  
    .flash-card-image {
      position: absolute;
      max-width: 100%;
      z-index: 1;
    }
  
    .flash-card-image.apollo {
      top: 676px;
      left: 425px;
      width: 1568px;
      height: 1461px;
    }
  
    .flash-card-image.text {
      top: 124px;
      left: 560px;
      width: 1685px;
      height: 705px;
    }
  
    .flash-card-image.spike {
      left: 116px;
      bottom: 140px;
      width: 960px;
      height: auto;
    }
  
    .flash-card-image.textV1 {
      top: 124px;
      right: 110px;
      width: 1685px;
      height: 705px;
    }
  
    .flash-card-image.voyager1 {
      right: 308px;
      bottom: 530px;
      width: 1568px;
      height: 1461px;
    }
  
    .flash-card-image.spikeHome2 {
      right: 1397px;
      bottom: 140px;
      width: 960px;
      height: auto;
    }  