:root {
    --dark-purple: #281C3B; /* Viola scuro per contorni e testo */
    --medium-purple: #6C4D9D; /* Viola medio per sfondo del menù */
    --white-color: #F4EEE8; /* Bianco per testo e alcuni elementi */
    --light-purple: #CAC2D6; /* Lilla per sfondo del body */
    --yellow-color: #FCCA07; /* Giallo */
    --light-green: #A9C99C; /* Verde chiaro */
}

    /* body per prodotto singolo */
    body {
        background-color: var(--white-color);
        font-family: Tomorrow, sans-serif;
    }


    p {
        color: var(--dark-purple);
        text-align: center;
        font-family: Tomorrow, sans-serif;
        font-size: 151px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: -1.5px;
        line-height: 165px;
    }


    .menu {
        background-color: var(--medium-purple);
        height: 100vh;
        border-right: 27px solid var(--dark-purple);
    }

    .menu .nav-link {
        font-weight: bold;
        font-size: 13.5rem;
        color: var(--dark-purple);
        background-color: var(--white-color);
        text-align: center;
        padding: 20.5rem 1rem;
        margin: 2rem 0;
        border-top: 27px solid var(--dark-purple);
        border-bottom: 27px solid var(--dark-purple);
        transform: skewY(-10deg);
        position: relative;
        transition: background-color 0.3s, transform 0.3s;
    }


    .menu .nav-link.active {
        background-color: var(--dark-purple);
        color: var(--white-color);
    }


    .acc {
        border: 27px solid var(--dark-purple);
        background-color: var(--white-color);
    }

    .price-box {
        width: 80%;
        color: #FFF; /* Testo bianco */
        text-align: center;
        font-size: 9rem;
        font-weight: bold;
        padding: 5px 0;
        font-family: Arial, sans-serif;
    }

    .display-4 {
        font-size: 329px;
        margin: 50px;
        padding: 50px 100px;
    }

    header {
        height: 13vh;
    }

    .py-3 {
        padding-bottom: 500px !important;
        padding-top: 300px !important;

    }

    .row > * {
        padding-left: 0;
        padding-right: 0;
    }

    .button-frame {
        border: 27px solid var(--dark-purple);
        background-color: var(--white-color);
    }


    .price-box-container {
        background-color: var(--yellow-color);
        border: 27px solid var(--dark-purple);
        border-top: none;
        height: 185px;
        width: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .price-box {
        color: var(--dark-purple);
        text-align: center;
        font-size: 109px;
        font-weight: bold;
        font-family: 'Tomorrow', sans-serif;
        line-height: 1.2;
    }

    h1 {
        color: var(--medium-purple) !important;
        -webkit-text-stroke: 13px var(--dark-purple);
        font-size: 329px !important;
        letter-spacing: 40px;
    }



    h2{
        font-size: 230px;

        font-weight: bold;
        align-content: center;
    }

    /* da qui mio */

    .bestseller {
        position: absolute;
        width: 1000px; /* Modifica la dimensione se serve */
        height: 1000px;
        z-index: 1; /* L'immagine va sotto la scritta */
        margin-top: 450px;
        margin-left: 1500px;

    }

    .individual-product {
        width: 4097px;
        height: 2938px;
        margin-left: 507px;
        margin-right: 754px;
        margin-bottom: 0;
    }

    .ingredients-list {
        font-family: 'Tomorrow', sans-serif;
        font-size: 151px;
        font-style: normal;
        color: var(--dark-purple);
        text-align: center;
        font-weight: 700;
        letter-spacing: -1.5px;
        line-height: 165px;
    }

    .ingredients-sx-P {
        margin-left: 10px;
        margin-bottom: 700px;
        margin-top: 200px

    }

    .ingredients-dx-P {
        margin-top: 200px;
        margin-bottom: 750px;
    }

    .ingredients-sx-B {
        margin-top: 2300px;
        margin-left: 1000px;
    }
    .ingredients-dx-B {
        margin-top: 700px;
        margin-right: 900px;
    }

    .ingredients-sx-D {
        margin-left: 150px;
    }
    .ingredients-dx-D {
        margin-top: 700px;
        margin-right: 350px;
    }
    .ingredients-sx-C {
        margin-top: 200px;
        margin-left: 500px;
        margin-right: 150px;
    }
    .ingredients-dx-C {
        margin-right: 300px;
        margin-top: 200px;
    }


    .product-price {
        height: 1018px;
        max-width: 1370px;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .overlay-text {
        position: absolute;
        top: 50%; /* Centra verticalmente */
        left: 50%; /* Centra orizzontalmente */
        transform: translate(-50%, -50%); /* Corregge la posizione esatta */
        color: var(--dark-purple);
        font-size: 240px; /* Regola la grandezza del testo */
        font-weight: bold; /* Rende il testo più visibile */
        text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7); /* Ombra per migliorare la leggibilità */
        white-space: nowrap; /* Evita che vada a capo */
    }

    .category-bar {
        background-color: var(--medium-purple);
        color: var(--white-color);
        text-align: center;
        font-weight: bold;
        font-size: 240px;
        border: 27px solid var(--dark-purple);
        padding: 96px 103px;
        width: 5104px;
        height: 509px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 36px;
        margin-right: 65px;
        margin-left:65px;
    }
    .flash-card {
        border: 27px solid var(--dark-purple);
        background-color: var(--light-green);
        width: 5104px;
        height: 2400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-left: 65px;
        margin-right: 65px;
        margin-bottom:130px;
    }

    .customize-text {
        text-align: left !important;
        margin-left: 400px;
        margin-bottom: 250px;
        margin-top: 50px;
        font-weight: bold;
        max-width: 2200px;
    }

    .extra-price-text {
        font-size: 109px; /* Prezzo in piccolo */
        color: var(--white-color);
        -webkit-text-stroke-width: 7px;
        -webkit-text-stroke-color: var(--dark-purple);
        margin-left: 500px;
        margin-top: 50px;
        display: inline-block;
    }

    .description-text {
        margin-top: 200px;
        text-align: center;
        padding-right: 300px;
        padding-left: 300px;
    }

    .small-card {
        display: flex;
        gap: 10px; /* Spazio tra le sezioni */
        border: 27px solid var(--dark-purple);
        margin-right: 400px;
        margin-top: 35px;
    }

    .square-box {
        width: 308px;
        height: 308px;
        background-color:var(--white-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .square-box-piu {
        width: 308px;
        height: 308px;
        background-color: var(--medium-purple);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rectangle-box {
        width: 712px;
        height: 308px;
        background-color: var(--white-color);
        display: flex;
        align-items: center;
        justify-content: center;
        outline: 27px solid var(--dark-purple);
    }

    .img-addDel {
        width: 350px;
        height: 350px;
    }

    .btn-go1{
        width: 1884px;
        border: 27px solid var(--dark-purple)!important;
        background-color: var(--medium-purple);
        padding: 60px 80px;
        font-size: 151px;
        font-weight: 600;
        text-decoration: none;
        color: var(--white-color);
        text-align: center;
        margin-bottom: 40px;
    }

    .btn-go2 {
        width: 1884px;
        border: 27px solid var(--dark-purple)!important;
        background-color: var(--white-color);
        padding: 60px 80px;
        font-size: 151px;
        font-weight: 600;
        text-decoration: none;
        color: var(--dark-purple);
        text-align: center;
    }

    .btn-go3{
        width: 2200px;
        border: 27px solid var(--dark-purple)!important;
        background-color: var(--medium-purple);
        padding: 110px 130px;
        font-size: 151px;
        font-weight: 600;
        text-decoration: none;
        color: var(--white-color);
        text-align: center;
        margin-top: 200px;
    }


    .btn-icon {
        width: 253px;
        margin-right: 50px;
    }






