:root {
    --dark-purple: #281C3B; /* Viola scuro per contorni e testo */
    --medium-purple: #6C4D9D; /* Viola medio per sfondo del menù */
    --white-color: #F4EEE8; /* Bianco per testo e alcuni elementi */
    --light-purple: #CAC2D6; /* Lilla per sfondo del body */
    --yellow-color: #FCCA07; /* Giallo */
    --light-green: #799B63; /* Verde chiaro */
}

    body {
        background-color: var(--medium-purple);
        font-family: Tomorrow, sans-serif;
    }

    .text-white {
        color: var(--white-color);
    }
    .text-title {
        width: 3809.47px;
        height: 378.12px;
        flex-shrink: 0;
        color: var(--white-color);
        text-align: center;
        -webkit-text-stroke-width: 13px;
        -webkit-text-stroke-color: var(--dark-purple);
        font-family: 'Tomorrow', sans-serif;
        margin-top: 524px;
        font-size: 329px;
        letter-spacing: 70px;
    }

    .text-h2 {
        color: var(--white-color);
        text-align: center;
        font-family: Tomorrow , sans-serif;
        font-size: 240px;
        font-weight: 700;
        line-height: 280px;
        letter-spacing: -2px;
    }

    .row {
        margin: 0 auto;
    }

    .card-custom {
        width: 95%;
        height: 2894px;
        flex-shrink: 0;
        border: 27px solid var(--dark-purple);
        background: var(--white-color);
        justify-content: center;
    }

    .inner-card {
        width: 1370px; /* Larghezza della card interna */
        height: 472px; /* Altezza della card interna */
        background-color: var(--yellow-color); /* Sfondo bianco */
        display: flex;
        align-items: center;
        justify-content: center;
        border: 27px solid var(--dark-purple);
        top: -27px;
        right: -27px;
        z-index: 1;

    }
    .text-inner-card {
        color: var(--dark-purple);
        font-family: Tomorrow, sans-serif;
        font-size: 205px;
        font-style: normal;
        font-weight: 700;
        line-height: 164px; /* 80% */
        letter-spacing: -2px;
    }

    .card-image-table {
        width: 1820px;
        height: 1360px;
        position: absolute;
        top: 50%;       /* Centra verticalmente */
        left: 50%;      /* Centra orizzontalmente */
        transform: translate(-50%, -50%); /* Allinea il centro dell'immagine alla card */
        object-fit: cover; /* Mantiene il rapporto d'aspetto */
        box-sizing: border-box;
    }
    .card-image-box {
        width: 1596px;
        height: 1599px;
        position: absolute;
        top: 50%;       /* Centra verticalmente */
        left: 50%;      /* Centra orizzontalmente */
        transform: translate(-50%, -50%); /* Allinea il centro dell'immagine alla card */
        object-fit: cover; /* Mantiene il rapporto d'aspetto */
        box-sizing: border-box;
    }

    .dialogue-bubble {
        width: 3652px;
        height: 1068px;
        margin-top: 300px;
        margin-bottom: 550px;
        position: relative;
        margin-right: 300px;
    }

    .oval-text {
        color: var(--dark-purple);
        text-align: center;
        font-family: Tomorrow, sans-serif;
        font-size: 150px;
        font-style: normal;
        font-weight: 700;
        line-height: 164px;
        letter-spacing: -1.5px;
        position: absolute;
        z-index: 1;
        margin-top: 500px;
    }
    .astronaut {
        width: 1665px;
        height: 2894px;
        position: absolute;
        bottom: 0; /* Posiziona il bordo inferiore dell'immagine al fondo del contenitore */
        left: 0; /* Posiziona l'immagine a sinistra */
    }

    .buttonContainer {
        display: flex;
        gap: 50px; /* Spazio tra i due div */
        justify-content: center; /* Centra i bottoni */
    }
    .buttonFooter {
        width: 100%; /* Occupare tutta la larghezza del contenitore */
        height: 494px;
        background-color: var(--white-color);
        text-align: center;
        display: flex; /* Usato per disporre l'immagine e il testo uno accanto all'altro */
        justify-content: center; /* Centra orizzontalmente il contenuto */
        align-items: center; /* Centra verticalmente il contenuto */
        border: 27px solid var(--dark-purple);
        flex-direction: row;
        flex-shrink: 0;
    }
    .image-icon {
        transform: translateX(-10%);
    }
    .textButton {
        font-size: 165px;
        color: var(--dark-purple);
        text-align: center;
        font-family: Tomorrow, sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 164px; /* 109.091% */
        letter-spacing: -1.5px;
        white-space: nowrap;
        transform: translateX(-10%);
    }