

.menu {
    background-color: var(--primary-color);
    height: 100vh;
    border-right: 25px solid var(--secondary-color); 
}

.menu .nav-link {
    font-weight: bold;
    font-size: 13.5rem;
    color: var(--secondary-color); 
    background-color: var(--white-color); 
    text-align: center;
    padding: 20.5rem 1rem;
    margin: 2rem 0;
    border-top: 25px solid var(--secondary-color);
    border-bottom: 25px solid var(--secondary-color); 
    transform: skewY(-10deg); 
    position: relative;
    transition: background-color 0.3s, transform 0.3s;
}

.menu .nav-link:hover {
    background-color: var(--secondary-color); 
    color: var(--white-color); 
}

.menu .nav-link.active {
    background-color: var(--secondary-color); 
    color: var(--white-color); 
}


.text-shadow {
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.start-button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--white-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    padding: 0.8rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
}

.utils{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.acc{
    border: 25px solid var(--secondary-color);
}

.acc_add1{
    position: relative;
    top: -880px;
    width: 250px;
    height: 250px;
    display: none;
    right: -450px;
}


.price-container {
    width: 600px;
    height: 220px;
    background-color: #16300b;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .price-box {
    width: 80%;
    color: #FFF; /* Testo bianco */
    text-align: center;
    font-size: 9rem;
    font-weight: bold;
    padding: 5px 0;
    font-family: Arial, sans-serif;
}

.pressed {
    position: relative;
    display: inline-block; /* Ensure proper overlay */
}

.pressed::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Semi-transparent */
    opacity: 0.5;
    z-index: 1;
    pointer-events: none; /* Allow clicks to pass through */
}



.display-4{
    font-size: 329px;
    margin: 50px;
    padding: 50px 100px;
}

header{
    height: 13vh;
}

.py-3{
    padding-bottom: 500px !important;
    padding-top: 300px !important;
    
}

.row>* {
padding-left: 0px;
padding-right: 0px;
}


.step{
    margin: 200px!important;
    border: 25px solid var(--secondary-color);
    background-color: var(--white-color);
}

.btn-go{
    border: 25px solid var(--secondary-color)!important;
    background-color: var(--white-color);
    padding: 80px 100px;
    font-size: 12rem;
    text-decoration: none;
    color: var(--secondary-color);
}

/*a:hover, a:focus{
    color: var(--white-color);
    background-color: var(--secondary-color);
}*/

.message-box {
    background-color: #cce0d0;
    color: #1a482a;
    font-size: 10rem;
    font-weight: bold;
    line-height: 1.2;
    border-radius: 20px;
    padding: 2%;
    position: relative;
    width: 42%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-left: 200px;
    margin-bottom: auto;
}

.message-box::after {
    z-index: 0;
    content: "";
    position: absolute;
    top: 100%;
    left: -00px;
    transform: translateY(-49%) rotate(209deg);
    border-width: 250px;
    border-style: solid;
    border-color: transparent #cce0d0 transparent transparent;
}

img.step1{
    max-width: 40%;
}

img.img-step1{
    max-width: 55%;
}

.step1{
    display: flex;
    flex-direction: column;
    margin: 200px!important;
}

.step1-main{
    border: 25px solid var(--secondary-color);
    background-color: var(--white-color);
}

.step1-gen{
    height: 31vh;
    justify-content: space-between;
}

.step1-cat{
    border: 25px solid var(--secondary-color);
    background-color: var(--white-color);
}

.step1-cat-header{
    border: 25px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

h2{
    font-size: 12rem;
}

.img-panino{
    width: 1500px;
}

.panino {
    border: 25px solid var(--secondary-color);
    background-color: var(--white-color);
    height: 80%;
    display: flex;
    flex-direction: column; /* Aggiunto per posizionare gli elementi in colonna */
    justify-content: flex-end; /* Allinea gli elementi in alto */
    align-items: center;
    position: relative; /* Necessario per posizionare il riquadro verde */
    padding-bottom: 200px;
    flex: 0 0 auto;
    width: 32.5%;
}

.top-bar {
    background-color: var(--light-green);
    color: var(--white-color);
    text-align: center;
    padding: 70px 10px;
    font-weight: bold;
    font-size: 10.2rem;
    width: 75%;
    position: absolute;
    top: -25px;
    right: -25px;
    border: 25px solid var(--secondary-color);
    z-index: 2;
}

.top-bar-step1 {
    background-color: var(--light-green);
    color: var(--white-color);
    text-align: center;
    padding: 50px 10px;
    font-weight: bold;
    font-size: 10.2rem;
    width: 51%;
    position: relative;
    top: -325px;
    border: 25px solid var(--secondary-color);
    left: -25px;
}



.message-box-tondo {
    background-color: #cce0d0;
    color: #1a482a;
    font-size: 3rem; /* Ridotto per adattarsi meglio al formato circolare */
    font-weight: bold;
    line-height: 1.2;
    border-radius: 50%; /* Arrotondamento completo */
    padding: 6%; /* Aggiusta per evitare overflow */
    position: relative;
    width: 45%; /* Larghezza fissa */
    height: 42%; /* Altezza uguale alla larghezza */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-left: -5%; /* Centrare orizzontalmente */
    margin-right: auto; /* Centrare orizzontalmente */
    margin-bottom: auto;
    display: flex; /* Per centrare il testo verticalmente */
    justify-content: center;
    align-items: center;
    top: 30%;
}

.message-box-tondo::after {
    z-index: 0;
    content: "";
    position: absolute;
    top: 31%;
    left: -36px;
    transform: translateY(-49%) rotate(284deg);
    border-width: 250px;
    border-style: solid;
    border-color: transparent #cce0d0 transparent transparent;
}

.top-bar-sale {
    text-align: end;
    padding: 50px 10px;
    width: 100%;
    position: absolute;
    top: 54.5%;
    left: -1%;
    z-index: 999;
    height: 480px;
}

.img-sale{
    width: 1020.88px;
    height: 650px;
    transform:translateY(10%);
}

#add-img1{
    display: flex;
}
.button-frame{
    border: 27px solid var(--secondary-color);
    background-color: var(--white-color);
  }
  
  .button-frame-add1{
    position: relative;
    top: -880px;
    width: 250px;
    height: 250px;
    display: none;
    right: -450px;
  }
  
  .price-box-container {
    background-color: var(--secondary-color);
    border: 27px solid var(--secondary-color);
    border-top: none;
    height: 185px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .price-box {
    color: var(--white-color);
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Tomorrow', sans-serif;
    line-height:1.2;
  }
  
  /* Styling per il contenuto del rettangolo giallo */
  .price-box-container .price-box{
    font-size: 7rem;
  }
  h1 {
    color:#518C3A !important;
    -webkit-text-stroke: 13px var(--secondary-color);
    font-size: 329px !important;
    white-space: nowrap;
    letter-spacing: 40px;
  }