/* Variabili */
:root {
    --dark-purple: #281C3B; /* Viola scuro per contorni e testo */
    --medium-purple: #6C4D9D; /* Viola medio per sfondo del menù */
    --white-color: #F4EEE8; /* Bianco per testo e alcuni elementi */
    --light-purple: #CAC2D6; /* Lilla per sfondo del body */
    --yellow-color: #FCCA07; /* Giallo */
    --light-green: #799B63;
  }/* Verde chiaro */
  
  /* Stili comuni */
  @media only screen and (min-width: 7016px){
    body, h1, h2, p, .p-extra{
      font-family: Tomorrow, sans-serif; /* Font comune */
      color: var(--dark-purple);
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .background {
      background-color: var(--white-color);
    }
    /* Titolo h1 */
    h1 {
      font-weight: bolder !important;
      width: 238rem !important;
      height: 24rem;
      flex-shrink: 0;
      color: var(--medium-purple)!important;
      text-align: center;
      -webkit-text-stroke-width: 0.8rem;
      -webkit-text-stroke-color: var(--dark-purple);
      font-family: 'Tomorrow', sans-serif;
      margin-top: 32.75rem;
      font-size: 22rem !important;
      letter-spacing: 4rem;
    }
  
    /* Titolo h2 */
    h2 {
      color: var(--dark-purple);
      font-weight: bold !important;
      text-align: center;
      font-family: Tomorrow, sans-serif;
      font-size: 15rem !important;
      font-style: normal;
      line-height: 17.5rem;
      letter-spacing: -0.15rem;
      margin: 0;  /* Rimuove i margini di default */
      padding: 0;  /* Rimuove eventuali padding */
      position: relative;  /* Per applicare la traslazione */
    }
  
    /* Paragrafo grande (pgrande) */
    .p-extra {
      font-size: 38.56rem;
      font-weight: bolder;
      margin-top: -400px;
      margin-bottom:-400px;
      max-width: 378.56rem;
    }
  
    /* Paragrafo normale (p) */
    p {
      font-size: 13rem;
      font-weight: bold;
      margin-top:315.17px;
      margin-bottom: 6.25rem;
      line-height: 1.2;
      width: 310rem;
      height: 79.625rem;
      flex-shrink: 0;
    }
    .p-responsive{
      font-size: 13rem;
      font-weight: bold;
      line-height: 1.2;
      width: 310rem;
      height: 79.625rem;
      flex-shrink: 0;
      margin-bottom: -400px;
    }
    .p-no{
      font-size: 13rem;
    }
  
    /* Box gialla */
    .box-yellow {
      background-color: var(--yellow-color);
      width: 257rem;
      height: 24.41rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1.687rem solid var(--dark-purple);
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
    }
    /* Contenitore dei numeri */
    .number-container {
      display: flex;
      justify-content: center; /* Centra i numeri orizzontalmente */
      gap: 18.75rem; /* Spazio tra i numeri */
      margin-top: 3.75rem; /* Distanza tra il box e i numeri */
      margin-bottom: 3.75rem;
    }
  
    .number {
      font-size: 20.56rem;
      font-weight: bold;
      color: var(--dark-purple);
      font-family: Tomorrow, sans-serif;
    }
  
  
    /* Contenitore flex per centrare l'immagine */
    .parent {
      display: flex;
      justify-content: center;  /* Centra orizzontalmente */
      align-items: center;      /* Centra verticalmente (opzionale, se vuoi anche centrato verticalmente) */
      width: 100%;              /* Prende tutta la larghezza disponibile *;            /* Usa tutta l'altezza della viewport (opzionale) */
    }
    .image-mascot {
      width: 130rem;
      height: 123rem;
    }
  
    .button-frame{
      border: 1.5625rem solid var(--dark-purple);
      background-color: var(--white-color);
    }
  
    .button-frame-add1{
      position: relative;
      top: -55rem;
      width: 15.625rem;
      height: 15.625rem;
      display: none;
      right: -28.125rem;
    }
  
   header{
     height: 13vh;
     margin-bottom: 31.25rem;
   }
  
    .back-button{
      padding:0;
      margin-top: 40%;
      width: 32.5rem;
      height: 32.5rem;
    }
    /* Contenitore quadrato */
    .back-icon {
      border: 1.687rem solid var(--dark-purple);
      width: 32.5rem;
      height: 32.5rem;
      padding:9.375rem;
      background-color: var(--white-color);
  
    }
    .row {
      margin: 0 auto;
    }
    .card-custom {
      width: 90%;
      height: 180.875rem;
      flex-shrink: 0;
      border: 1.687rem solid var(--dark-purple);
      background: var(--white-color);
      justify-content:center;
      margin: 12.8125rem;
    }
  
    .buttonFooter {
      width: 100%; /* Occupare tutta la larghezza del contenitore */
      height: 30.875rem;
      background-color: var(--white-color);
      text-align: center;
      display: flex; /* Usato per disporre l'immagine e il testo uno accanto all'altro */
      justify-content: center; /* Centra orizzontalmente il contenuto */
      align-items: center; /* Centra verticalmente il contenuto */
      border: 1.687rem solid var(--dark-purple);
      flex-direction: row;
      background-color: var(--white-color);
    }
    .imageButton {
      width: 16.6875rem;
      height: 16.6875rem;
      object-fit: contain;
      margin-right: 1.25rem;
    }
    .textButton {
      font-size: 10.3125rem;
      color: var(--dark-purple);
      text-align: center;
      font-family: Tomorrow, sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: 10.25rem; /* 109.091% */
      letter-spacing: -0.093rem;
    }
  
    .row-buttons {
      margin-top: 3.125rem;
      display: flex;
      justify-content: center;
      gap: 3.125rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
  
    footer {
      position: relative;
      left: 0;
      height: 6.25rem;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.625rem;
    }
  
    .footer-item {
      height: 34.25rem;
      width: 42.8125rem;
      border: 1.687rem solid var(--dark-purple);
      background-color: var(--white-color)!important;
      border-radius: 0;
      margin-left: 3.125rem;  /* Aggiungi margine a sinistra */
      margin-right: 3.125rem; /* Aggiungi margine a destra */
    }
  
    .footer-img{
      width: 100%;
      height: 100%;
      object-fit: contain; /* Adatta l'immagine senza tagliarla */
      object-position: center;
    }
  }
  
  
  @media only screen and (max-width: 7015px) {
    h1 {
      display: none;
    }
  
    .box-yellow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 58.7rem;
      height: 5rem;
      padding: 0.5rem 0.75rem;
      border: 0.25rem solid var(--dark-purple);
      background: var(--yellow-color);
      margin: 0 auto 1.875rem; /* Centro orizzontalmente */
    }
    .number-container {
      display: flex;
      justify-content: center;
      gap: 2.5rem;
      margin-top: 0.625rem;
    }
  
    .number {
      font-size: 4rem;
      font-weight: bold;
      color: var(--dark-purple);
      font-family: Tomorrow, sans-serif;
      margin-top: -1.875rem;
      margin-bottom: 1.875rem;
    }
  
    .p-responsive {
      display: flex;
      justify-content: center;
      font-size: 4rem;
      font-family: Tomorrow, sans-serif;
      font-weight: bold;
      color: var(--dark-purple);
    }
  
    p {
      text-align: center;
    }
  
    .space {
      font-size: 6rem;
      margin: 0 2.5rem; /* Usa margine laterale uniforme invece di un margine fisso */
      display: inline-block; /* Mantiene i numeri in riga */
    }
  
    header {
      display: none !important;
    }
  
    .back-button {
      display: none;
    }
  
    .buttonFooter {
      display: none;
    }
  
    .footer-img {
      display: none;
    }
  
    .background {
      background-color: var(--white-color);
    }
  
    .p-extra {
      display: none;
    }
  
    .p-number {
      font-family: Tomorrow, sans-serif !important;
      font-size: 6.25rem !important;
      font-weight: bold;
    }
  
    h2 {
      font-family: Tomorrow, sans-serif;
      font-weight: bold !important;
      color: var(--dark-purple);
    }
  
    .parent {
      display: flex;
      justify-content: flex-start; /* Sposta a sinistra */
      align-items: flex-end; /* Sposta in basso */
      position: fixed; /* Mantiene la posizione fissa in basso */
      bottom: 0; /* Allinea al fondo */
      left: 0; /* Allinea a sinistra */
      width: 100%; /* Assicura che l'elemento occupi tutta la larghezza */
      padding: 1.25rem; /* Aggiunge un po' di spazio dai bordi */
    }
  
    .image-mascot {
      width: 21.875rem; /* Ridimensiona l'immagine per adattarsi meglio */
      height: auto;
      transform: translateX(-20%) translateY(10%);
  
    }
    .p-no{
      display: none;
    }
  }